/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2018, 5:15:06 PM
    Author     : User
*/
h1{color:violet;
font-size:80px}
p{
    color:green;
        font-size:40px;
        text-align:center;
        line-height: 40px;
 
}
  ul{
       list-style-image: url('images.png');
            
        }